body {
    font-family: "Lato", sans-serif;
    background-color: black;
}

h5 {
    font-size: 18px;
}

/* User-input field */
#usernameField {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Signup button */
.signupbtn {
  width: 95%;
  padding: 14px 20px;
  border: none;
  margin: 8px 0;
}

/* Popup */
#popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #474e5d;
  padding-top: 50px;
  text-align: center;
}

/* Fonts in pop up */
#popup h1, h2, h3, p {
    text-align: center;
}

/* Pop-up Content/Box */
.popup-content {
  background-color: white;
  max-width: 550px;
  min-width: 300px;
  margin: 5% auto 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#header {
    width: 100%;
    align-items: center;
    min-height: 50px;
    background-color: white;
}

#header h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

#appContainer {
    width: 800px;
    align-items: center;
    height: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#tabContainer {
    padding: 0px;
    height: 100%;
    width: 30%;
    height: 100%;
    background-color: #f1f1f1;
    float: left;
    border: 1px solid grey;
    border-right: none;
}

#channelContainer {
    padding: 0px;
    height: 100%;
    width: 70%;
    border: 1px solid grey;
    height: 100%;
    float: right;
    background-color: white;
}

/* Style the tab */
.tab {
    float: left;
    background-color: #f1f1f1;
    height: 300px;
    padding: 0px;
    width: 100%;
    border: none;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    font-size: 17px;
    outline: none;
    border: none;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.channel {
    float: left;
    padding: 0px;
    height: 300px;
    overflow: auto;
    width: 100%;
    height: 100%;
    min-height: 500px;
    position: relative;
}

.channel h3 {
    padding: 10px;
    font-size: 20px;
    color: blue;
    text-align: center;
}

.channel .chat {
    width: 100%;
    display: flex;
    padding-bottom: 2.5rem;
}

.channel .channelFooter {
    position: absolute;
    bottom: 0;
    height: 3.75rem;
    background-color: #f1f1f1;
    width: 100%;
    padding: 10px;
    vertical-align: middle;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.channelFooter .newMessage {
    width: 85%;
    float: left;
}

.centerBox {
    padding: 10px;
    text-align: center;
    width: 300px;
    background-color: white;
    border: 1px solid grey;
    vertical-align: middle;
}

.btn {
    background-color: lightblue;
    border: lightblue;
    color: white;
    margin: auto;
}

.centerBox .btn {
    margin-top: 20px;
}

.channelFooter .btn {
    float: right;
}

.btn:hover {
    background-color: blue;
    color: white;
}

#userOptions {
    position: relative;
    min-width: 660px;
    max-width: 660px;
    padding-top: 40px;
    height: 200px;
}

#newChannelAdd {
    float: left;
}

#existingChannelSearch {
    float: right;
}

/* Formatting for messages in channel */
.messageHeader {
    font-size: 16px;
    font-weight: bold;
    color: blue;
}
.messageContent {
    font-size: 16px;
}
