body {
    font-family: "Lato", sans-serif;
    background-color: lightblue;
}

#header {
    width: 100%;
    align-items: center;
    min-height: 50px;
    background-color: white;
}

#header h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

#appContainer {
    margin-top: 40px;
    width: 80%;
    align-items: center;
    height: 600px;
    padding: 0px;
}

#tabContainer {
    padding: 0px;
    height: 100%;
    width: 30%;
    height: 100%;
    background-color: #f1f1f1;
    float: left;
    border: 1px solid grey;
    border-right: none;
}

#channelContainer {
    padding: 0px;
    height: 100%;
    width: 70%;
    border: 1px solid grey;
    height: 100%;
    float: right;
    background-color: white;
}

/* Style the tab */
.tab {
    float: left;
    background-color: #f1f1f1;
    height: 300px;
    padding: 0px;
    width: 100%;
    border: none;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    font-size: 17px;
    outline: none;
    border: none;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.channel {
    float: left;
    padding: 0px;
    height: 300px;
    overflow: auto;
    width: 100%;
    height: 100%;
    min-height: 500px;
    position: relative;
}

.channel h3 {
    padding: 10px;
    font-size: 20px;
    color: blue;
    text-align: center;
}

.channel .chat {
    width: 100%;
    display: flex;
    padding-bottom: 2.5rem;
}

.channel .channelFooter {
    position: absolute;
    bottom: 0;
    height: 3.75rem;
    background-color: #f1f1f1;
    width: 100%;
    padding: 10px;
    vertical-align: middle;
    border-top: 1px solid grey;
}

.channelFooter .newMessage {
    width: 85%;
    float: left;
}

.centerBox {
    padding: 20px;
    margin: auto;
    text-align: center;
    max-width: 350px;
    min-width: 250px;
    background-color: white;
    margin-top: 30px;
    border: 1px solid grey;
}

.btn {
    background-color: lightblue;
    border: lightblue;
    color: white;
    margin: auto;
}

#newChannelForm .btn {
    margin-top: 20px;
}

.channelFooter .btn {
    float: right;
}

.btn:hover {
    background-color: blue;
    color: white;
}
