<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}" />
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>ChatBot</title>
    </head>

    <body>

        <div id="header">
            <h2>ChatBot</h2>
        </div>

        <div class="container" id="appContainer">

            <div class="container" id="tabContainer">
                <div class="tab" id="tabList">
                    <button class="channelTab" id="defaultOpen" data-channelname="welcome">Welcome!</button>
                </div>
            </div>
            <div class="container" id="channelContainer">
                <div id="welcome" class="channel">
                    <h3>Welcome</h3>
                    <div class="container chat">
                        <p>This is the default channel for all users.</p>
                    </div>
                    <div class="channelFooter">
                        <form class="submitNewMessage">
                            <input class="form-control newMessage" type="text" placeholder="Write a message" name="message">
                            <input class="btn" type="submit" value="Enter">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="centerBox">
            <h5> Create new channel </h5>
            <hr>
            <form id="newChannelForm">
                <div class="form-group">
                    <input class="form-control" placeholder="Give me a name!" name="newChannel" id="newChannelName">
                    <input class="btn" type="submit" value="Create">
                </div> <!-- form-group// -->
            </form>
        </div>

    </body>
</html>
